<form  >
<h2 mat-dialog-title>Answer this:</h2>
<mat-dialog-content>{{question}}</mat-dialog-content>
<mat-form-field style="width:100%">
  <mat-label style="color:white">Answer:</mat-label>
<input  matInput class="inputSize" placeholder="Just a placeholder" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]='answer'>
</mat-form-field>
<mat-dialog-actions>
  <div class="size">
    <button class="btnsize" mat-button mat-dialog-close>No</button>
  </div>
  <div class="size">
  <button class="btnsize" mat-button cdkFocusInitial [mat-dialog-close]="{actualQuestion:question,answerInput:answer}">Yes</button>
  </div>
</mat-dialog-actions>
</form>
