.navBar ul{
  display: inline-block;
}
.navBar ul h4{
  background-color: black;
  color: white;
  line-height: 2;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
a { color: #FFFFFF; }
.navBar{
  background-color: black;
}

.navBar ul h4:hover{
  background-color: gray;
}
